.aligncenter{
    text-align: center;
}

#title-container {
    position: absolute;
    bottom: 20%;
    left: 5%;
}


#footer-container {
    width: '100%';
    position: 'fixed';
    bottom: 0;
    width: '100%';
    background: transparent;
}

.fav-container {
    position: absolute;
    bottom: 70%;
    right: 5%;
    text-align: center;
    color: #fff;
}


#homeImg {
    opacity: .5;
}

h1.login-title {
    font-size: 150px;
    font-style: italic;
    font-family: sans-serif;
    color: #fff;
}

.login-options {
    width: 60%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-options li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-options li .login-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
    margin-bottom: 0.5em;
} .login-options li .login-img:hover {
    background-color: #ccc;
}

.login-options li p {
    color: #fff;
    font-family: sans-serif;
}


.FooterTag{
    position: fixed !important;
    background-image: url('https://res.cloudinary.com/nieleche/image/upload/v1669711201/docker_fxvrbr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
}


.FooterTag .artsec img{
    width: 70px !important;
    height: 70px !important;
    padding:0px 10px 0px 10px !important; 
}

.FooterTag .fmsec img{
    width: 102px !important;
    height: 70px !important;
    padding:0px 10px 0px 10px !important; 
}   

.FooterTag .instasec img{
    width: 70px !important;
    height: 70px !important;
    padding:0px 10px 0px 10px !important; 
}

.abouttext .abtImg{
   display: none !important;
}

.abtTypo{
    color: #fff !important;
    font-size: 10px !important;
}

.helpTypo{
    color: #fff !important;
    font-size: 10px !important;
}

.aboutimage .abtTypo{
    display: none !important;
 }

.FooterTag .css-8ci153-MuiButtonBase-root-MuiBottomNavigationAction-root {
max-width: 120px;
}
.MenuTag{
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.MenuTag li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color:#fff;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
   border-radius:11px !important;
   border: 3px solid black;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    padding: 0px !important;
}

.DialogTags{
    display: flex !important;
    align-items: flex-start;
}

.MTright {
    float: right !important;
}

.HomeMenu {
    background-color: red !important;
    color: #fff !important;
    font-size: 10px !important;
}

.MainMenu{ 
    background-color: rgba(0, 0, 0, 0.2);
}

.css-imwso6-MuiBottomNavigationAction-label {
    color:#fff !important;
}

.padding0 {
    padding: 0px !important;
}

#aboutIcon{
    padding-top: 20px !important;
    padding-left: 30px;
}

#fmIcon{
    padding-left: 45px;
}

.flex-container{
    display: flex !important;
}
